{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{% url 'edytuj' idp  %}" method="post">
{% csrf_token %}
{% for osoba in quest3 %}
    <input type="radio" name="wybor" id="wybor{{ osoba.id }}" value="{{ osoba.id }}">
{% csrf_token %}
{{osoba.imie}} {{osoba.nazwisko}}

{% for ocena in osoba.ocena_set.all %}
{% if ocena.id_n_id == idp %}

<a href="#" data-toggle="tootip" title="{{ocena.opis}}  waga: {{ocena.waga}} "> {{ocena.ocena}}</a>
{%endif%}
{%endfor%}

<br>
{%endfor%}

<input type="submit" value="edytuj">
</form>
<form action="{% url 'dodajo' idp  %}" method="get">
  <input type="submit" value="dodaj ocene">

</form>



</body>
</html>